{% extends 'base.html.twig' %}

{% block title %}CodePostalController!{% endblock %}

{% block body %}
{# leaflet #}
<h1>Leaflet</h1>
<p> {{ name }} </p>
    <div>latitude : <span id="lat"> {{ lat }}  </span></div>
    <div>longitude : <span id="lon"> {{ lon }}  </span></div>


{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{  path('app_dompdf', { 'lat': lat|replace({'.': 'a'}), 'lon':lon|replace({'.': 'a'}), 'name':name|replace({'.': 'a'}) })  }}">imprimer PDF</a>

<div class="mapLeaflet">
    <div id="map"></div>



</div>

{{ form_start(mailform, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(mailform.city, {'attr':{'value': town} } ) }}
    {{ form_row(mailform.lat, {'attr':{'value': lat} } ) }}
    {{ form_row(mailform.lon, {'attr':{'value': lon} } ) }}
{{ form_end(mailform) }}
{% endblock %}
