{% extends 'base.html.twig' %}

{% block title %}CodePostalController!{% endblock %}

{% block body %}
{# leaflet #}
<h1>Leaflet</h1>
<p> {{ name }} </p>
    <div>latitude : <span id="lat"> {{ lat }}  </span></div>
    <div>longitude : <span id="lon"> {{ lon }}  </span></div>


{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<div class="mapLeaflet">
    <div id="map"></div>

</div>


{% endblock %}
